<footer class="w-full">
  <div class="flex flex-col gap-4 px-8 py-8">
    <div class="flex flex-col justify-between gap-4 sm:flex-row">
      <div>
        <ul class="gap-2">
          <li>
            <a href="/index.html" class="transition hover:text-neon-red"
              >Inicio</a
            >
          </li>
          <li>
            <a
              href="/pages/products/list.html"
              class="transition hover:text-neon-red"
              >Ciberware</a
            >
          </li>
          <li>
            <a href="/pages/contact.html" class="transition hover:text-neon-red"
              >Contacto</a
            >
          </li>
          <li>
            <a href="/pages/faq.html" class="transition hover:text-neon-red"
              >Preguntas Frecuentes</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="gap-2">
          <li class="flex items-center gap-2">
            <svg class="size-6 text-white">
              <use
                href="/src/assets/icons/sprite-outlined.svg#icon-phone"
              ></use>
            </svg>
            <a href="tel:1112345678" class="transition hover:text-neon-red"
              >11 1234-5678</a
            >
          </li>
          <li class="flex items-center gap-2">
            <svg class="size-6 text-white">
              <use href="/src/assets/icons/sprite-outlined.svg#icon-mail"></use>
            </svg>
            <a
              href="mailto:example@example.com"
              class="transition hover:text-neon-red"
              >example@example.com</a
            >
          </li>
          <li class="flex items-center gap-2">
            <svg class="size-6 text-white">
              <use
                href="/src/assets/icons/sprite-outlined.svg#icon-whatsapp"
              ></use>
            </svg>
            <a
              href="https://www.whatsapp.com"
              class="transition hover:text-neon-red"
              >11 1234-5678</a
            >
          </li>
          <li class="flex items-center gap-2">
            <svg class="size-6 text-white">
              <use
                href="/src/assets/icons/sprite-outlined.svg#icon-map-pin"
              ></use>
            </svg>
            <a
              href="https://www.google.com/maps"
              class="transition hover:text-neon-red"
              >Calle Falsa 1234</a
            >
          </li>
        </ul>
      </div>
      <div>
        <ul class="flex flex-row gap-4">
          <li>
            <a
              href="https://www.instagram.com"
              class="text-white transition hover:text-neon-red"
            >
              <svg class="size-8">
                <use
                  href="/src/assets/icons/sprite-outlined.svg#icon-instagram"
                ></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.facebook.com"
              class="text-white transition hover:text-neon-red"
            >
              <svg class="size-8">
                <use
                  href="/src/assets/icons/sprite-outlined.svg#icon-facebook"
                ></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://x.com"
              class="text-white transition hover:text-neon-red"
            >
              <svg class="size-8">
                <use
                  href="/src/assets/icons/sprite-outlined.svg#icon-x"
                ></use></svg
            ></a>
          </li>
          <li>
            <a
              href="https://www.tiktok.com"
              class="text-white transition hover:text-neon-red"
            >
              <svg class="size-8">
                <use
                  href="/src/assets/icons/sprite-outlined.svg#icon-tiktok"
                ></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="flex flex-wrap justify-between gap-4 text-xs font-light">
      <p>© Chrome Revolution - 2025. Todos los derechos reservados</p>
      <p>
        desarrollado por
        <a
          href="https://github.com/CodeName-YozoraHarmonia"
          class="transition hover:text-neon-red"
          >Yozora Harmonia</a
        >
      </p>
    </div>
  </div>
</footer>
